*{
    margin: 0px;
    padding: 0px;
    text-align: center;
}
body{
    background-color: rgb(230, 184, 241);
}
h1{
    background-color: #081b31;
    color: white;
    height: 5rem;
    line-height: 5rem;
}
.choice{
    height: 165px;
    width: 165px;
    border-radius: 50%;
}

.choice:hover{
    background-color: #081b31;
    display: flex;
    justify-content: center;
    align-items: center;
}
img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius:50% ;
}

.choices{
    display: flex;
    justify-content: center;
    margin-top: 40px;
    gap: 3rem;
}

.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15rem;
    font-weight: 400;
    margin-top: 30px;
    font-size: 1.5rem;
    margin-bottom: 40px;
}

#user-score, #comp-score{
    font-size: 4rem;
}

#msg{
    background-color:#081b31 ;
    color: white;
    display: inline;
    font-size: 2rem;
    padding: 1rem;
    border-radius: 1rem;
}