* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: linear-gradient(to right, #74ebd5, #acb6e5);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  background: #000000;
  padding: 25px;
  width: 400px;
  border-radius: 15px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}

.calc-title {
  color: #ffffff;
  text-align: center;
  font-size: 2rem;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.calc-display {
  background: #222;
  color: #fff;
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 20px;
  text-align: right;
  font-size: 2.5rem;
  box-shadow: inset 0 5px 10px rgba(0, 0, 0, 0.5);
}

button {
  background: #333;
  color: #fff;
  font-size: 1.5rem;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  height: 65px;
  width: 65px;
  transition: transform 0.2s, box-shadow 0.2s;
}

button:active,
button:focus {
  transform: scale(0.95);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

button:hover {
  filter: brightness(1.2);
}

.key-zero {
  grid-column: span 2;
  width: 100%;
}

.key-operate {
  background: #f4a261;
  color: #fff;
}

.key-others {
  background: #a6a6a6;
  color: #000;
}

.calc-keys {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-row-gap: 15px;
  grid-column-gap: 10px;
}
